/* This CSS styling will apply to all pages of the website*/

/* This removes the scrollbar while keeping its functionality intact */
*::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

/* This is the "main" div for all pages */
.main { 
    width: 100vw;
    min-height: 92vh;
    height: 100%;
}

.navbar {
    background: #000000;
    height: 5vh;
}