/* This is the CSS styling for the "search" page */
.search-page {
    background-image: url("../Images/Search_Background_Final.jfif");
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    z-index: 5;
}

.search-title {
    position: absolute;
    color: #1ECD97;
    background-color: transparent;
    font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
    left: 33.5%;
    top: 40%;
    font-size: 2.5vw;
    font-weight: bold;
    z-index: 10;
}

.panel {
    position: absolute;
    width: 70%;
    height: 30%;
    background-color: transparent;
    left: 15%;
    top: 50%;
    z-index: 10;
}

#search {
    position: relative;
    width: 80%;
    left: 10%;
    border-radius: 10px;
    padding: 15px;
    border-color: #239974;
    border-width: 5px;
    opacity: 95%;
    z-index: 10;
}

input:focus {
    outline-width: 0;
    outline: none;
}

.btn-search {
    position: absolute;
    left: 85%;
    top: 6%;
    background-color: transparent;
    border: none;
    z-index: 10;
}

.dropbtn {
    position: relative;
    top: 7%;
    left: 14%;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    border: none;
    opacity: 95%;
    color: white;
    text-decoration: none;
    z-index: 10;
}

.dropdown-content {
    position: absolute;
    top: 45%;
    left: 14%;
    width: 75%;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    z-index: 10;
}

.checkbox-list {
    color: white;
    z-index: 10;
}

button:focus {
    outline: none;
}