<!-- Main HTML code for website -->

{{ define "head" }}
    <!--
        Here goes all the items that WOULD go in the head of the HTML file normally
        Notice however that Title, Bootstrap, base CSS imports, and basic META is already in the default header
    -->
{{ end }}

{{ define "main" }}
    <div class="main"> 
        <!--
        This was just some bootstrap and other html but the point is the "main" html code goes here

        <div class="row">
            <div class="col" id="left-text">
                <h1>Welcome</h1>
            </div>

            <div class="col">
            </div>
        </div>
        -->
    </div>
{{ end }}
